/* .container {
    margin: 20px auto;
    width: 400px;
    font-family: sans-serif;
  }
  
  .container label {
    display: block;
    margin-bottom: 10px;
  }
  .gender label{
    display: block;
    margin-bottom: 0px;
  }
  
  .input {
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 20px;
  }
  
  #e {
    width: 100%;
  } */

  *{
      padding: 0;
      margin: 0;
      background-image: url("https://t4.ftcdn.net/jpg/02/00/68/69/360_F_200686968_KS9NVTJgvjMQs2FniVHyIJaAIcg5p7D0.jpg");
      color: rgb(255, 255, 255);
  }